

.input1{
    padding: 1rem ;
    gap: 10px;
    border-radius: 0.5rem;
    border: 2px solid var(--Grey-4);

}

.input2{
    padding: 1rem ;
    gap: 10px;
    border-radius: 0.5rem;
    border: 2px solid var(--Grey-4);
   

}